
img { border: 0; vertical-align: middle; }
ul { margin: 0px; padding: 0px; list-style-type: none; }
li { list-style-type: none; }
a { color: #000; text-decoration: none; cursor: pointer; }
input, textarea, keygen, select, button, isindex { font: 14px "microsoft yahei", "Arial Narrow", HELVETICA; margin: 0em; color: initial; letter-spacing: normal; word-spacing: normal; text-transform: none; text-indent: 0px; text-shadow: none; display: inline-block; text-align: start; }
.fl { float: left !important; }
.fr { float: right !important; }
.f16 { font-size: 16px; }
.f20 { font-size: 20px; }
.f24 { font-size: 24px; }
.mt20 { margin-top: 20px !important; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px !important; }
.mr10 { margin-right: 10px; }
.tr { text-align: right !important }
.tl { text-align: left !important }
.tcenetr { text-align: center !important; }
a:hover { color: #dd6664; }
input[type="text"] { padding: 5px; }
.green { color: #2374cd; }
.green1 { color: #3686db; }
.hui { color: #999; }
.red { color: #f00; }
.white { color: #fff; }
table { border-collapse: collapse; border-spacing: 0; }
.clearfix { display: block; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.anniu { width: 80px; height: 28px; float: left; font-size: 14px; font-weight: bold; text-align: center; background: #8ec954; display: block; cursor: pointer; line-height: 28px; margin-right: 25px; border-radius: 2px; }
.anniu1 { width: 80px; height: 28px; float: left; font-size: 14px; font-weight: bold; text-align: center; background: #c2c2c2; display: block; cursor: pointer; line-height: 28px; margin-right: 25px; border-radius: 2px; }
.anniu:hover { background: #0d7371; border-bottom: 0px solid #00565b; }
.toubu, .footer { width: 100%; float: left; }
.payment_3 { width: 100%; }
.footer, .payment_3 { margin-top: 20px; }
.all { width: 1000px; margin: 0 auto; }
#header { _padding-bottom: 0px; width: 100%; background: #Fff; }
.top { z-index: 1000; font-size: 12px; }
.top_left { width: 100px; height: 28px; float: left; padding: 0 25px; line-height: 28px;  }
.top_right { width: 1000px; height: 28px; line-height: 28px; text-align: right; padding-right: 15px; margin: 0 auto; color: #333; }
.top_right .gray { color: #5b9cde; }
.top_right .green { color: #93bc2f; cursor: pointer; }

/*注册页面*/
.regis_main { width: 998px; min-height: 480px; margin: 0 auto; border: 1px solid #e0e0e0; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);  margin-top: 20px; padding-bottom: 20px; }
.join_main { width: 998px; margin: 0 auto; padding-bottom: 20px; border: 1px solid #e0e0e0; }
.join_b1 { height: 50px; font-size: 24px; line-height: 50px; border-bottom: 1px dotted #e3e3e3;  padding-left: 20px;  }
.join_b2 { width: 998px; padding: 5px 0; float: left; }
.yhm { margin-top: 15px; height: 32px; line-height: 32px; }
.join_in { width: 200px; height: 20px; border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px; }
.shuruk .join_yz { width: 100px; }
.yhm_left_input .join_yz { height: 20px; border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px; width: 80px; }
.yhm_yanzhengma { font-size: 14px; }
.yhm_left_name { width: 220px; float: left; text-align: right; font-size: 14px; vertical-align: middle; color: #000; padding-right: 10px; }
.yhm_left_input { width: 250px; line-height: 32px; float: left; height: 32px; vertical-align: middle; }
.yhm_right_name { width: 110px; float: left; text-align: right; font-size: 14px; vertical-align: middle; color: #000; padding-right: 5px; }
.yhm_right_input { width: 300px; line-height: 32px; float: left; height: 32px; vertical-align: middle; }
.yhm_left_prompt { margin-left: 15px; float: left; position: relative; width: 430px}
.yhm_left_promwk { margin-left: 15px; float: left; position: relative; width: 230px }
.yhm_left_prompt .error_01 { color: red; font-weight: bold; display: none; width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 1000; background: #fff; }
.zhushi { float: left; color: #B6B6B6; }
.zhushi .red { font-weight: bold; font-size: 14px; line-height: 32px; display: inline-block; vertical-align: middle; }
.join_zhuce { width: 660px; float: left; margin: 20px 0; margin-left: 190px!important; }
.join_nr { width: 998px; margin: 0 auto; }
.join_xuanz { margin: 10px 0; }
.join_xuzhi { border: 1px solid #ccc; margin: 0 auto; height: 160px; overflow: auto; padding: 10px; display: none; margin-bottom: 10px; width: 600px; margin-left: 150px; }
.niu{color: red; font-size: 12px; font-weight: bold; display: none; width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 1000; background: #fff;}