.basicPage
{
    flex-direction: column;
    justify-content: center;
    min-width: 71.25rem;
    margin-bottom: 2.5rem;
    z-index: 0;
}
.topPart
{
    background-color: white;
}
.topPartTitle
{
    align-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 微软雅黑, serif;
    background-color: white;
}
.topPartMain
{
    background-color: white;  
    flex-direction: row;
}
.TopPartPost
{
    flex-direction: row;
    display: flex;
}
.postIMG
{
    height: 300px;
    margin-bottom: 1.5rem;
    float: left;       
    margin-right: 10px;
}
.postText
{
    font-size: 1rem;
    font-family: 微软雅黑, serif;
    margin-bottom: 1.5rem;
    
}

.leftPart
{
    background-color: white;
}
.leftPartTitle
{
    font-size: 2.5rem;
    font-family: 微软雅黑, serif;

}
.rightPart
{
    background-color: white;

}
.rightPartTitle
{
    font-size: 2.5rem;
    font-family: 微软雅黑, serif;

}